@charset "utf-8";
@import url(./style.css);

#about {
    height: 100%;
}
#about h1 {
    margin-bottom: 3vh;
    padding-left: 1rem;
    border-left: 4px solid greenyellow;
    color: fuchsia;
}
#about #category { 
    margin-bottom: 1vh;
    padding-left: 1rem;
    border-left: 4px solid greenyellow;
    color: green;
}
@media only screen and (max-width:  600px) { 
    main #about {
        padding: 2rem;
        padding-left: 4rem;
    }
}
@media only screen and (min-width:  600px) and (max-width:  900px) {
    main #about {
        padding-top: 8rem;
        padding-left: 22%;
    }
}
@media only screen and (min-width:  900px) {
    main #about {
        padding-top: 8rem;
        padding-left: 33%;
    }
}