@charset "utf-8";
@import url(./style.css);

main #articlepic {
    width: 100%;
}
main #articlepic #title {
    width: 100%;
    height: 100%;
    color: yellow;
    font-weight: bold;
    background-color: #E82542;
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("../imgs/blaer.jpg"); */
}
main #articlestyle {
    line-height: 1.8rem;
}
main #articlestyle img {
    margin: 1rem auto;
    padding: 0.1rem;
    width: 100%;
}
main #articlestyle h1,
main #articlestyle h2,
main #articlestyle h3,
main #articlestyle h4,
main #articlestyle h5,
main #articlestyle h6 {
    padding: 1.1vh 0;
}
main #articlestyle iframe {
    margin: 0.5rem auto;
    width: 99%;
}
main #articlestyle blockquote {
    padding: 0.8rem;
    border-left: 5px solid #ccc;
    background: ghostwhite;
    width: 100%;
}
main #articlestyle ul li {
    margin: auto 1.5rem;
    list-style-type:square;
}
main #articlestyle ol li {
    margin: auto 1.6rem;
    list-style-type:decimal;
}
main #articlestyle pre {
    display: block;
    padding: 5px;
    margin: 5px 0;
    line-height: 1.5;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #fcf4fc;
    border: 1px solid rgb(246, 226, 252);
    text-shadow: none;
}
main #articlestyle code {
    padding: 2px 4px;
    background-color: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: fuchsia;
    text-shadow: none;
}
main #articlestyle pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
    border: 0;
}
main #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 1rem; /* Place the button at the bottom of the page */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: fuchsia; /* Set a background color */
    font-weight: bold;
    cursor: pointer; /* Add a mouse pointer on hover */
    font-weight: bold;
    font-size: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%; /* Rounded corners */
}
@media only screen and (max-width:  599px) { 
    main #articlepic {
        height: 13rem; 
    }
    main #articlepic #title {
        padding: 3.5rem 4%;
        line-height: 2.2rem;
    }
    main #meijiao {
        margin: 1rem 0.2rem;
    }
    main #articlestyle {
        margin: 1rem 4%;
    }
    main #myBtn { 
        right: 11%; /* Place the button 30px from the right */
    }
}
@media only screen and (min-width:  600px) and (max-width:  999px) {
    main {
        padding-top: 3.3rem;
    }
    main #articlepic {
        height: 16rem;  
    }
    main #articlepic #title {
        padding: 4rem 11%;
        font-size: 1.2rem;
        line-height: 2.6rem;
    }
    main #meijiao {
        margin: 1rem 0.2rem;
    }
    main #articlestyle {
        margin: 1.1rem 11%;
    }
    main #articlestyle iframe {
        width: 555px;
    }
    main #myBtn { 
        right: 3%; /* Place the button 30px from the right */
    }
}
@media only screen and (min-width:  1000px) {
    main {
        padding-top: 3.3rem;
    }
    main #articlepic {
        height: 22rem;  
    }
    main #articlepic #title {
        padding: 6rem 22%;
        font-size: 1.3rem;
        line-height: 3rem;
    }
    main #meijiao {
        margin: 1rem 0.2rem;
    }
    main #articlestyle {
        padding: 1.1rem 22%;
    }
    main #myBtn { 
        right: 15%; /* Place the button 30px from the right */
    }
}