@charset "utf-8";
@import url(./style.css);

#content section .texts li {
    list-style: square;
}
main #toppic {
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("../imgs/hua.jpg");
}
main #toppic #word {
    vertical-align: middle;
    text-align: center;
    color: fuchsia;
    font-weight: bold;
}
main {
    line-height: 1.6rem;
}
#content h2 {
    margin: 0 auto;
    padding-bottom: 1rem;
}
#content .project .img {
    width: 100%;
    height: 44vh;
}
#content .project img {
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 599px) { 
    main #toppic {
        height: 40vh; 
    }
    main #toppic #word {
        padding: 4.4rem 2rem 0 2rem;
        line-height: 2rem;
        font-size: 1.5rem;
    }
    #content {
        padding: 1rem 0.8rem;
    }
    #content section {
        margin-bottom: 2rem;
    }
    #content section .line { 
        padding-bottom: 1rem;
    }
}
@media only screen and (min-width: 600px) and (max-width: 999px) {
    main #toppic {
        padding-top: 3.2rem;
        height: 50vh;  
    }
    main #toppic #word {
        padding-top: 5.5rem;
        font-size: 1.8rem;
    }
    #content {
        padding: 9vh 9vw;
    }
    #content section {
        margin-bottom: 2rem;
    }
    #content section .line { 
        padding-bottom: 1rem;
    }
}
@media only screen and (min-width: 1000px) {
    main #toppic {
        padding-top: 3.2rem;
        height: 55vh;  
        margin-bottom: 2rem;
    }
    main #toppic #word {
        padding-top: 7.7rem;
        font-size: 2.2rem;
    }
    #content h2 {
        width: 77%;
    }
    #content section {
        display: flex;
        flex-flow: row;
        margin: 0 auto;
        width: 77%;
        margin-bottom: 5rem;
    }
    #content section .texts {
        width: 60%;
    }
    #content section .img {
        flex: 1;
    }
    #content section .line { 
        padding: 0 1.5rem;
    }
    #content section header p {
        margin: 1vh 0;
        padding-left: 0.5rem;
        border-left: 3px solid fuchsia;
    }
}
