@charset "utf-8";
@import url(./style.css);

#articlereturn {
    margin: 1rem;
    font-weight: bold;
    font-size: 2rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color:rgba(0,152,50,0.7);  
    border: none; 
    outline: none; /* Remove outline */
}
#articlestyle {
    margin: 0 5rem 10rem 5rem;
}
/* pre,pre code,code {
    width: 200%;
    height: 200%;
} */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 1.1rem; /* Place the button at the bottom of the page */
    right: 10%; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: fuchsia; /* Set a background color */
    font-weight: bold;
    cursor: pointer; /* Add a mouse pointer on hover */
    font-weight: bold;
    font-size: 2rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%; /* Rounded corners */
}