@charset "utf-8";
@import url(./style.css);

main #home {
    text-align: center;
    background:url(../imgs/sky.jpg) no-repeat;
    background-size: cover;
    height: 750px;
}
main #home h1 {
    margin-top: 18rem;
    font-size: 3rem;
    line-height: 4rem;
    color: #15f077;
}
main #home p {
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 3rem auto;
    color: fuchsia;
}

@media only screen and (max-width:  600px) { 
    main #home {
        padding: 2rem;
    }
    main #home h1 {
        margin-top: 11rem;
        font-size: 3rem;
        line-height: 4rem;
        color: #15f077;
    }
}
@media only screen and (min-width:  600px) and (max-width:  900px) {
    main #home {
        padding-top: 8rem;
    }
}
@media only screen and (min-width:  900px) {
    main #home {
        padding-top: 8rem;
    }
}