@charset "utf-8";
@import url(./style.css);

main #picture {
    margin-bottom: 1rem;
}
  #picture #wrapper #name img {
    width: 100%;
    height: 30vh;
  }
  #picture #wrapper #name #word {
    padding: 2rem;
  }
  #picture #wrapper #name header {
    text-align: center;
  }
  #picture #wrapper #name header h2 {
    margin-bottom: 1rem;
    text-transform : uppercase;
  }
  #picture #wrapper #name header p {
    color: rgb(12, 136, 49);
  }
  #picture #wrapper #name p {
    text-align: center;
  }
  #picture #wrapper #name hr {
    margin: 2rem auto;
  }

@media only screen and (max-width:  666px) {
    main {
        width: 99.5%;
    }
    #picture #wrapper #name {
        margin-bottom: 1rem;
        border: 1px solid rgb(225, 231, 228);
    }
}
@media only screen and (min-width:  666px) and (max-width:  900px) {
    main {
        width: 90%;
        padding-top: 4rem;
    }
    #picture #wrapper {
        display: flex;
    }
    #picture #wrapper  article {
        flex: 0 1 32%;
        margin-right: 1.5%;
    }
    #picture #wrapper #name:last-child {
        margin-right: 1rem;
    }
    #picture #wrapper #name {
        margin: 1rem;
        border: 1px solid rgb(220, 230, 223);
    }
}
@media only screen and (min-width:  900px) {
    main {
        width: 72%;
        padding-top: 5rem;
    }
    #picture #wrapper {
        display: flex;
    }
    #picture #wrapper  article {
        flex: 0 1 32%;
        margin-right: 1.5%;
    }
    #picture #wrapper #name:last-child {
        margin-right: 0;
    }
    #picture #wrapper #name {
        margin: 1rem;
        border: 1px solid rgb(220, 230, 223);
    }
}