@charset "utf-8";
@import url(./style.css);

ul, ol, li {
    list-style: square;
}
main #toppic img {
    width: 100%;
    height: 100%;
}
#content {
    padding: 2rem 1rem;
    line-height: 1.8rem;
}
#content .project .img {
    width: 100%;
    height: 44vh;
}
#content .project img {
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 599px) { 
   
}
@media only screen and (min-width: 600px) and (max-width: 999px) {

}
@media only screen and (min-width: 1000px) {
    main #toppic {
        height: 55vh; 
    }
    #content section {
        display: flex;
        flex-flow: row;
        margin: 3rem 8rem;
    }
    #content section .texts {
        width: 60%;
    }
    #content section .img {
        flex: 1;
    }
    #content section .line { 
        padding: 0 1.5rem;
    }
    #content section header p {
        margin: 1vh 0;
        padding-left: 0.5rem;
        border-left: 3px solid fuchsia;
    }
}